/* font */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wgjt@400;700&display=swap');


/* css reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* base styles */
:root {
  /* light mode colors */
  --light-bg: #f6f8ff;
  --light-card-bg: #FEFEFE;
  --light-text-primary: #283442;
  --light-text-secondary: #4B6a9b;
  --light-text-tertiary: #697c9a;
  --light-btn-primary: #0079ff;
  --light-btn-hover: #60abff;
  --light-error: #f74664;

  /* dark mode colors */
  --dark-bg: #141d2f;
  --dark-card-bg: #1e2a47;
  --dark-text: #FFFFFF;
  --dark-btn-primary: #0079ff;
  --dark-btn-hover: #60ABff;
  --dark-error: #f74646;
  

  /* default theme (light) */
  --bg: var(--light-bg);
  --card-bg: var(--light-card-bg);
  --text-primary: var(--light-text-primary);
  --text-secondary: var(--light-text-secondary);
  --text-tertiary: var(--light-text-tertiary);
  --btn-primary: var(--light-btn-primary);
  --btn-hover: var(--light-btn-hover);
  --error: var(--light-error);
}

body {
  font-family: 'Space Mono', monospace;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 25px;
  background-color: var(--bg);
  color: var(--light-text-secondary);
  /* display: flex;
  justify-content: center; */
  height: 100vh;
}

input, button {
  font-family: 'Space Mono', monospace;
}



/* typography */
h1 {
  font-size: 1.625rem;
  line-height: 38px;
  font-weight: 700;
  color: var(--light-text-primary)
}

h2 {
  font-size: 1.375rem;
  line-height: 33px;
  font-weight: 700;
  color: var(--light-text-primary);
}

h3 {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  color: var(--dark-btn-primary);
}

h4 {
  font-size: 0.8125rem;
  line-height: 20px;
  font-weight: 400;
  color: var(--light-text-secondary);
}

/* main container */
.main-container {
  width: 100%;
  font-family: 'Space Mono', monospace;
  max-width: 730px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 36px;
}

.header > span {
  color: var(--light-text-tertiary);
  text-align: right;
  font-size: 0.08rem;
  font-weight: 700;
  letter-spacing:  0.15rem;
}

.toggle-container {
  display: flex;
  height: 26px;
  padding-left: 2px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.theme-toggle {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
}

.theme-icon {
  width: 20px;
  height: 20px;
}

/* search bar */

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 22px;
  margin-bottom: 24px;
  width: 100%;
  height: 69px;
  background-color: var(--light-card-bg);
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}

.search-bar-input {
  display: flex;
  align-items: center;
  gap: 24px;
}

.search-icon {
  width: 24px;
  height: 24px;
  color: var(--light-btn-primary);
}

.search-bar-input > input {
  border: none;
  outline: none;
  width: 254px;
  height: 25px;
  font-size: 1.125rem;
}

.search-bar-button {
  width: 106px;
  height: 50px;
  background-color: var(--light-btn-primary);
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 18px;
  border: none;
}


/* dev info */

.dev-info {
  display: flex;
  flex-direction: row;
  width: 730px;
  padding: 48px;
  gap: 37px;
  background-color: var(--light-card-bg);
  border-radius: 15px;
  
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}

.avatar-container {
  display: flex;
}

.avatar-container > img {
  height: 117px;
  width: 117px;
  border-radius: 117px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.info-container-header {
  display: inline-flex;
  align-items: center;
  gap: 138px;
}

.info-container-bio {
  /* max-width: 480px; */
  margin-top: 20px;
}

.info-container-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 32px;
  padding-top: 15px;
  padding-bottom: 17px;
  background-color: var(--light-bg);
}

.info-container-links {
  margin-top: 20px;
}

.info-container-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-first-row-location {
  display: flex;
  gap: 20px;
}

.info-first-row-twitter {
  display: flex;
  gap: 20px;
}

.info-container-second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.info-second-row-website {
  display: flex;
  gap: 20px;
}

.info-second-row-business {
  display: flex;
  gap: 20px;
}
