/* font */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wgjt@400;700&display=swap');


/* css reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* base styles */
:root {
  /* light mode colors */
  --light-bg: #f6f8ff;
  --light-card-bg: #FEFEFE;
  --light-text-primary: #283442;
  --light-text-secondary: #4B6a9b;
  --light-text-tertiary: #697c9a;
  --light-btn-primary: #0079ff;
  --light-btn-hover: #60abff;
  --light-error: #f74664;

  /* dark mode colors */
  --dark-bg: #141d2f;
  --dark-card-bg: #1e2a47;
  --dark-text: #FFFFFF;
  --dark-btn-primary: #0079ff;
  --dark-btn-hover: #60ABff;
  --dark-error: #f74646;
  

  /* default theme (light) */
  --bg: var(--light-bg);
  --card-bg: var(--light-card-bg);
  --text-primary: var(--light-text-primary);
  --text-secondary: var(--light-text-secondary);
  --text-tertiary: var(--light-text-tertiary);
  --btn-primary: var(--light-btn-primary);
  --btn-hover: var(--light-btn-hover);
  --error: var(--light-error);
}

body {
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  background-color: var(--bg);
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

/* typography */
h1, .h1 {
  font-size: 2.6rem;
  line-height: 3.8rem;
  font-weight: 700;
}

h2, .h2 {
  font-size: 2.2rem;
  line-height: 3.3rem;
  font-weight: 700;
}

h3, .h3 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

h4, .h4 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
}


/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 524px;;
}

.header > span {
  color: var(--light-text-tertiary);
  text-align: right;
  font-size: 0.08rem;
  font-weight: 700;
  letter-spacing:  0.15rem;
}

.toggle-container {
  display: flex;
  height: 26px;
  padding-left: 2px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.theme-toggle {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
}

.theme-icon {
  width: 20px;
  height: 20px;
}

/* main container */
.main-container {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
  padding: 144px 24px;
} 